@media(max-width:412px){
    body{
        background-color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    } 
    .Earth{
        height: 915px;
        background-color: rgb(0, 0, 0);

   border-radius: 25px;
    }
    .pco{
        background-color: rgb(19, 19, 56);
    }
    h1{
        color: white;
        font-size: 50px;
    
    }
    p{
        color:white;
        font-size: 20px;
     
        
    }
    .num1
    { 
     
     
        border-radius: 25px;
        height: 400px;
        background-image:url(earth\ image.jpg);
      background-size: cover;
    }
    .num3
    { 
     
     
        border-radius: 25px;
        height: 400px;
        background-image:url(OIP.jpg);
      background-size: cover;
    }
    .num4
    { 
     
     
        border-radius: 25px;
        height: 400px;
        background-image:url(venos.jpg);
      background-size: cover;
    }
    .num5
    { 
     
     
        border-radius: 25px;
        height: 400px;
        background-image:url(R.jpg);
      background-size: cover;
    }
    .num6
    { 
     
     
        border-radius: 25px;
        height: 400px;
        background-image:url(a.png);
      background-size: cover;
    }
    .num7
    { 
     
     
        border-radius: 25px;
        height: 400px;
        background-image:url(saturn.jpg);
      background-size: cover;
    }
    .num8
    { 
     
     
        border-radius: 25px;
        height: 400px;
        background-image:url(urans.png);
      background-size: cover;
    }
    .num9
    { 
     
     
        border-radius: 25px;
        height: 400px;
        background-image:url(neptun.jpg);
      background-size: cover;
    }
    .num10
    { 
     
     
        border-radius: 25px;
        height: 400px;
        background-image:url(moon.jpg);
      background-size: cover;
    }
}